{
  "parserOptions": {
    // tell eslint what ECMAScript version to use (defaults to 5)
    "ecmaVersion": 2019,
    // tell it that your files are modules (defaults to scripts)
    "sourceType": "module",
    "ecmaFeatures": {
      // tell it to use JSX
      "jsx": true
    }
  },
  // state what ruleset you want to use:
  "extends": ["eslint:recommended"],
  // override any rules set with the 'extend' ruleset
  "rules": {
    // configure how to handle each type of setting:
    "strict": [
      "error",
      "never"
    ]
  },
  "env": {
    // tell it where you're running this code
    "browser": true
  }
}